main{
    padding-top: 130px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    height: 20rem;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.search-bar div{
    display: flex;
    align-items: center;
    background-color: white;
    width: 80vw;
    max-width: 800px;
    border: 1px solid;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 1px;
}

.search-bar input {
    width: 90%;
    padding: 10px 20px;
    border: 0px;
    background-color: #f1f1f1;
    font-size: 1rem;
}

.search-bar input:focus {
  outline: none;
  background-color: #e6e6e6;
}

.search-bar h3{
    color: white;
    font-weight: bold;
    font-size: clamp(16px, 5vw, 40px);
    padding-bottom: 2%;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* margin-bottom: 20px; */
    width: 100%;
    padding-left: 10%;
}

.filter-bar input,
.filter-bar select {
    padding: 10px;
    font-size: 16px;
}

.products-container {
    display: flex;
    gap: 20px;
    height: fit-content;
    background-color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 400px;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #57625d;
    padding: 16px;
    width: 40vw;
    max-width: 300px;
    height: fit-content;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.product-card p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.buy-button {
    background-color: #2248b3; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Display as inline */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.buy-button:hover {
    background-color: #0c0c55; /* Slightly darker green on hover */
}